html {
  font: 10pt arial;
  /* background-image: linear-gradient(to top, #3e71d1, #3563bc, #2c55a7, #224793, #183a7f, #14316f, #102860, #0c2051, #0c1a42, #0c1433, #0a0c25, #020118); */
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, yellow, #f79533, #ef4e7b,  #5073b8, #1098ad, #07b39b, #6fba82, #a7f30b);
  border-radius: calc(2 * var(--borderWidth));
}
#mynetwork {
border: 20px  ;
  width: 85vw;
  margin-left: 5%;
  overflow: hidden;
  height: 80vh;
  margin-right: -10%;
  margin-top: 0;
  z-index: 4000;
  margin-bottom: auto;
}


p.title{
  color:#a09d9d;
  line-height: 0.3;
  padding-left: 10%;
  text-align: center;
}

p.titl{
  font-family: 'Raleway', sans-serif;
  color: rgb(255,255,255,0.5);
  font-size: 3.5vw;
  margin-left: 10%;
  margin-right: 5%;
  margin-top:10vh;
  font-weight: lighter;
  padding-bottom: 10vh;
}

p.titled{
  background: -webkit-linear-gradient(280deg,  yellow,yellow, #f79533,#f79533,#f79533,#ef4e7b,  #ef4e7b,  #5073b8, #1098ad, #07b39b, #6fba82,#a7f30b,#11f5b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.9;
  line-height: 1;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-left: 3%;
  padding-top: 10%;
  text-align: center;
  font-size: 17vw;
  margin-bottom: -30%;
}


img.light {
  margin-left: 34vw;
  width: 30vw;
  opacity: 0.76;
  z-index: -1;
}




@import url('https://fonts.googleapis.com/css?family=Raleway:200');


#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70vw;
  height: 100vh;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}
.gradient-border {
  --borderWidth: 3px;
  background: transparent;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, yellow,yellow, #f79533, #ef4e7b,  #5073b8, #1098ad, #07b39b, #6fba82, green);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



  @media screen and (max-width: 980px){
    #mynetwork {
    border: 20px  ;
      width: 85vw;
      margin-left: 5%;
      overflow: hidden;
      height: 50vh;
      margin-right: -10%;
      margin-top: -40vh;
      z-index: 4000;
      margin-bottom: auto;
    }


    p.title{
      color:#a09d9d;
      line-height: 0.3;
      padding-left: 10%;
      text-align: center;
    }

    p.titl{
      font-family: 'Raleway', sans-serif;
      color: rgb(255,255,255,0.5);
      font-size: 3.5vw;
      margin-left: 10%;
      margin-right: 5%;
      margin-top:10vh;
      font-weight: lighter;
      padding-bottom: 10vh;
    }

    p.titled{
      background: -webkit-linear-gradient(280deg,  yellow,yellow, #f79533,#f79533,#f79533,#ef4e7b,  #ef4e7b,  #5073b8, #1098ad, #07b39b, #6fba82,#a7f30b,#11f5b6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      opacity: 0.9;
      line-height: 1;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
      padding-left: 3%;
      padding-top: 10%;
      text-align: center;
      font-size: 17vw;
      margin-bottom: -30%;
    }


    img.light {
      margin-top: -10vh;
      margin-left: 34vw;
      width: 30vw;
      opacity: 0.76;
      z-index: -1;
    }
  }
